@import url(./main_page_styles.css);
@import url(./photo_section_and_location.css);
@import url(./pages.css);

@font-face {
    font-family: Lobster-Regular;
    src: url(../styles/font/Lobster-Regular.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../styles/font/Oswald-VariableFont_wght.ttf);
}

:root{
    --color-main-headers:#ffa52e;
    --font-color: #ffffff;
    --transparent-background: rgba(53, 53, 53, 0.8);
    --secondary-background: rgba(255, 255, 255, 0.8);
    --burger-background:rgba(0, 0, 0, 0.9);
    --slider-pos: 4px;
}

[data-theme="dark"] {
    --color-main-headers:#000;
    --font-color: #000;
    --transparent-background: rgba(255, 255, 255, 0.55);
    --secondary-background: rgba(53, 53, 53, 0.8);
    --burger-background:rgba(255, 255, 255, 0.9);
    --switch-lable: 60px;
    --slider-pos: 30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Oswald;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    background-color: #505050;
    color: var(--font-color);
    padding: 0 50px;
    bottom: 0;
}

.footer-location-text, .footer-name-text{
    margin-left: 30px;
    margin-right: 13px;
    text-align: center;
}

footer a{
    color: var(--color-main-headers);
}

@media screen and (max-width: 768px){
    .footer-location-text{
        display: none;
    }
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
  
.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
.slider:before {
    background-color: var(--color-main-headers);
    bottom: 4px;
    content: "";
    height: 26px;
    left: var(--slider-pos);
    position: absolute;
    transition: .4s;
    width: 26px;
}
  
input:checked + .slider {
    background-color: var(--secondary-background);
}

@media screen and (max-width: 768px){
    [data-theme="dark"] {
        --slider-pos: 17px
    }
    
    .theme-switch {
    height: 21px;
    width: 34px;
    }

    .slider:before{
        left: var(--slider-pos);
        width: 13px;
        height: 13px;
    }   

   
}