.main-page-section2{
    background-attachment: fixed;
}

.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1000px;
    gap: 20px;
}

.main-page-wrapper2 h1{
    margin-bottom: 20px;
}

.catalog-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    border: 2px solid var(--color-main-headers);
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--transparent-background);
    padding: 15px;
    gap: 10px;
}

.catalog-img-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 320px;
}

.favorite_star_gold, .favorite_star_silver{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    cursor: pointer;
}

.gold{
    z-index: 1;
} 

.favorite_star_silver:hover{
    opacity: 0.5;
}

.catalog-item-img{
    width: 250px;
    height: 320px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.catalog-item-img:hover{
    margin-top: -40px;
    width: 300px;
    height: 385px;
    transition: .5s;
}

 @media screen and (max-width: 768px) {
    .catalog-item{
        min-width: 250px;
    }

    .catalog-img-container{
    width: 200px;
    height: 230px;
    }

    .catalog-item-img{
        width: 200px;
        height: 230px;
    }

    .catalog-link{
        width: 200px;
    }
} 

.characteristics{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    max-width: 230px;
}

.catalog-item-name{
    color: var(--color-main-headers);
    font-size: 35px;
    text-align: center;
    max-width: 215px;
}

.content-box{
    display: flex;
    flex-grow: 1;
    margin-top: 50px;
}

.order-heading{
    text-align: center;
}

.advances-list a{
    color: var(--color-main-headers);
}

.copy-img{
    width: 12px;
}

.number-and-img{
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}

.copyed{
    position: absolute;
    left: -100px;
    z-index: 100;
    transition: 0.2s;
    color: var(--font-color);
}

.copyed_active{
    transform: translateX(110px);
}