.location{
    width: 100%;
    font-size: 33px;
}

.location-header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    line-height: 65px;
}

.location-text{
    text-align: center;
    margin: 0 20px;
    color: var(--font-color);
}

@media screen and (max-width: 768px){
    .location{
        font-size: 18px;
    }

    .location-header{
        line-height: 36px;
    }
}